h1{
color:brown;
}

h2{
color:brown;
}

table{
border-collapse: collapse;
width: 100%;
}

th,td{
border: 1px solid #333;
padding: 8px;
text-align:
}

div{
width:640px;
margin-right:auto;
margin-left:auto;
}

body{
background-color:#fff8e1;
}

body{
text-align:center;
<link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
}

